@use '../../../scss/vars.scss';

.card {
  max-width: 300px;
  width: 100%;
  margin-bottom: 20px;
  display: block;

  position: relative;
  transition: 0.15s transform;

  &::before {
    content: '';
    transition: 0.15s box-shadow;
  }

  &:hover {
    transform: scale(0.97);
  }

  &:hover::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

.light {
  background: vars.$light-secondary;
  box-shadow: vars.$box-shadow vars.$light-tertiary;

  &:hover::before {
    box-shadow: vars.$box-shadow vars.$dark-primary inset;
  }

  & .info {
    border-bottom: 2px solid vars.$light-tertiary;
    border-top: 2px solid vars.$light-tertiary;
  }

  & .title::after {
    background: vars.$light-tertiary;
  }
}

.dark {
  background: vars.$dark-secondary;
  box-shadow: vars.$box-shadow vars.$dark-tertiary;

  &:hover::before {
    box-shadow: vars.$box-shadow vars.$light-primary inset;
  }

  & .info {
    border-bottom: 2px solid vars.$dark-tertiary;
    border-top: 2px solid vars.$dark-tertiary;
  }

  & .title::after {
    background: vars.$dark-tertiary;
  }
}

.img {
  height: 150px;
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.loader-plug {
  height: 150px;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: #000;
}

.info {
  padding: 20px;
}

.title {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 15px;

  &::after {
    content: '';
    display: block;
    height: 2px;
    width: 30px;
    margin: 0 auto;
    margin-top: 8px;
  }
}

.about-item + .about-item {
  margin-top: 5px;
}

.about-item {
  display: flex;
}

.about-title {
  margin-right: 10px;
  font-weight: 500;
}

@media (max-width: 970px) {
  .card {
    margin: 0 auto 20px;
  }

  .img {
    height: 120px;
  }

  .info {
    padding: 10px;
  }
}
