@use '../../../../scss/vars.scss';

.input {
  padding: 9px 12px 9px 12px;
  border: 2px solid;
  width: 200px;
  transition: 0.15s border-color;

  &:focus {
    outline: none;
  }
}

.input-light {
  border-color: vars.$light-tertiary;
  box-shadow: vars.$box-shadow vars.$light-tertiary;
  background: vars.$light-secondary;

  &::placeholder {
    color: vars.$dark-primary;
  }

  &:focus {
    border-color: vars.$dark-primary;
  }
}

.input-dark {
  border-color: vars.$dark-tertiary;
  box-shadow: vars.$box-shadow vars.$dark-tertiary;
  background: vars.$dark-secondary;

  &::placeholder {
    color: vars.$light-primary;
  }

  &:focus {
    border-color: vars.$light-primary;
  }
}
