body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

button {
  cursor: pointer;
}

.body-light {
  color: $font-dark;
  background: $light-primary;
}

.body-dark {
  color: $font-light;
  background: $dark-primary;
}
